	</div>
    <div id="footer">
        <div class="container">
            <div class="span4 copyright">&copy; 2013 <a  href="http://dev.dooioo.com" title="dev.dooioo.com">德佑地产 - 研发部</a></div>
    	    <div class="span8 nav">
    	      <ul class="nav pull-right">
    	        <li><a href="http://dooioo.com"><i class="icon-home icon-white"></i>Dooioo</a></li>
    	      </ul>
    	    </div>
          </div>
    </div>        
  </body>
</html>